<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Car Listings</h1>
<meta name="viewport"content="width=device-width, intial-scale=1">
<nav>
    <a class="active" href="./">Home</a>
    <a class="active" href="./list">List</a>
    <a class="active" href="./searchcars">Search</a>
    <a class="active" href="./predictedlist">Predicted List</a>
</nav>
<div>
<p>Hello, my name is Silviu Badica and I am the creator of this web application.</p>
<p>I have developed this web application to provide people willing to buy a car a tool that helps them assess the condition of a car.</p>
<p>This tool predicts the condition of a car based on its attributes such as price, year and mileage.</p>
<p>There are a total of 4 conditions which would help users decide if the car is worth buying or not.</p>
<p>GCLV means the car is in good condition and its value is low.</p>
<p>GCHV means the car is in good condition and its value is high.</p>
<p>BCLV means the car is in bad condition and its value is low.</p>
<p>BCHV means the car is in bad condition and its value is high.</p>
<p>Users also have the option to search for a car.</p>
</div>
</body>
</html>